.drinks {
    font-family: Poppins;
    background-color: #F8F7F4;
    padding-bottom: 4em;
    padding-top: 1em;
    padding-left: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drinks h1 {
    color: #5B3B1C;
    text-align: center;
}

.classicMilktea-container {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 160em;
}

.classicMilktea-card {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    background-color: #D6C1AB;
    width: 20em;  
    border-radius: 1em;
    padding-bottom: 1em;
}

.classicMilktea-card:hover{
    box-shadow: 0 0 10px rgba(61, 30, 1, 0.5);
    background-color: #F8F7F4;
}

.milktea-image {
    width: 15em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.milktea-image img {
    width: 70%;
}

.classicMilktea-info {
    padding: 2px;
    align-items: center;
    display: flex;
    gap: 3em;
    color: #5B3B1C;
    justify-content: space-around;
}

.classicMilktea-price {
    display: inline-block;
}

.classicMilktea-add-btn {
    font-size: 2em;
    cursor: pointer;
}

.hidden {
    display: none;
}

.cart-items {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 1em;
    right: 1em;
    top: 3em;
    width: 20em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-items h2 {
    margin-top: 0;
}

#cancel-btn,
#checkout-btn {
    display: block;
    width: 100%;
    margin-top: 0.5em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
}

#cancel-btn {
    background-color: #f44336;
    color: white;
}

#checkout-btn {
    background-color: #4CAF50;
    color: white;
}

@media (width < 1024px) {
    .classicMilktea-card{
        margin-top: 1em;
        gap: 1em;
        width: 10em;  
    }

    .classicMilktea-container {
        gap: 1em;
    }

    .classicMilktea-info{
        padding: 2px;
        font-size: 10px;
        gap: 2em;
    }

    .milktea-image{
        width: 10em;
    }

    .drinks{
        padding-bottom: 1;
    }

    .drinks h1{
        font-size: 2em;
    }

}

@media (width < 599px) {
    .classicMilktea-card{
        margin-top: .5em;
        gap: .5em;
        width: 8em;  
    }

    .classicMilktea-container{
        gap: 1em;
    }

    .classicMilktea-info{
        padding: 2px;
        font-size: 7px;
        gap: 1.4em;
    }

    .milktea-image{
        width: 6em;
    }

    .drinks{
        padding-bottom: .5em;
    }

    .drinks h1{
        font-size: 1em;
    }
}